<h1>Edit Organizations</h1>

<%= render partial: "form", locals: { organization: @organization } %>

<br>

<div>
  <%= link_to "Back", @organization %>
</div>

<%#= link_to 'Cancel', organization_path(@organization) %>
