<div id="employee-org-chart"></div>
<h1><%= @organization.name %> - Employees</h1>
<p><%= @organization.description %></p>

<% if @employee_hierarchy.any? %>
  <h2>Employee Hierarchy</h2>
  
  <ul>
    <% @employee_hierarchy.each do |manager| %>
      <li>
        <strong><%= manager[:name] %> (Manager)</strong>
        
        <% if manager[:subordinates].any? %>
          <ul>
            <% manager[:subordinates].each do |subordinate| %>
              <li>
                <%= subordinate[:name] %> (Employee)
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No employees found for this organization.</p>
<% end %>
